---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Torneo";
---
<BaseLayout pageTitle={pageTitle}>
	<p class="mt-4 text-gray-700">Posiciones de los equipos</p>	
</BaseLayout>
