---
import BaseLayout from '../layouts/BaseLayout.astro';
import MatchSchedule from '../components/MatchSchedule.jsx';
import EvolutionChart from '../components/EvolutionChart.astro';
import Ranking from '../components/Ranking.astro';
const pageTitle = "Torneo";
---
<BaseLayout pageTitle={pageTitle}>
	<section id="matcheSchedule" class="">
		<h2 class="text-3xl text-gray-800 pt-12">Programación</h2>
		<p class="text-gray-700">Próximos compromisos de cada equipo</p>	
		<MatchSchedule client:load />
	</section>
	<section id="ranking">
		<h2 class="text-3xl text-gray-800 pt-12">Tabla de Posiciones</h2>
		<p class=" text-gray-700">Progreso del equipo a través de la temporada</p>	
		<div class="container mx-auto p-4">
			<Ranking />
		</div>
	</section>
	<section>
		<h2 class="text-3xl text-gray-800 pt-12">Evolución</h2>
		<p class=" text-gray-700">Progreso del equipo a través de la temporada</p>	
		<div class="container mx-auto p-4">
			<EvolutionChart />
		</div>
	</section>
	
</BaseLayout>
