---
import { Image } from 'astro:assets';
import LeagueTrophy from '../images/trofeo-liga.png';
import ChileanCup from '../images/copa-chile.png';
import SuperCup from '../images/supercopa.png';
---
<aside class="w-64 h-screen bg-gray-200 p-4 pt-16">

    <nav class="mt-4 space-y-2">
        <h3 class="text-center block px-4 py-2 rounded-md bg-white">Campeonato</h3>
        <div class="block px-4 py-2 rounded-md bg-white">
            <Image src={LeagueTrophy} 
            alt="Un pájaro sentado sobre un nido de huevos."
            height="120"
            />
        </div>
        <h3 class="text-center block px-4 py-2 rounded-md bg-white">Copa Chile</h3>
        <div class="block px-4 py-2 rounded-md bg-white">
            <Image src={ChileanCup} 
            alt="Un pájaro sentado sobre un nido de huevos."
            height="160"
            />
        </div>
        <h3 class="text-center block px-4 py-2 rounded-md bg-white">Supercopa</h3>
        <div class="block px-4 py-2 rounded-md bg-white">
            <Image src={SuperCup} 
            alt="Un pájaro sentado sobre un nido de huevos."
            height="160"
            />
        </div>
      
    </nav>
</aside>
  