---
import '../styles/global.css';
import Navegation from '../components/Navegation.astro';
import Sidebar from '../components/Sidebar.astro';
import RightAside from '../components/RightAside.astro';
const { pageTitle } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  
  <body>
    <Navegation />
    <div class="flex flex-1 overflow-hidden">
      <Sidebar />
      <main class="flex-1 p-8 overflow-auto">
        <h1 class="text-4xl text-blue-500 pt-16">{pageTitle}</h1>
      <slot />
      </main>
      <RightAside />
    </div>
  </body>
</html>